<h2> How much do you like Muses ? </h2>

<form action="/possums" method="post"> 

<label for="why">why do you like MUSES? (keep it short and sweet):</label>

<input type="text" id="name" name="why" placeholder="I really like Muses because .... " required
class="inputBox">

<button> Can I move on now! </button>

</form>