
.form-container {
    display: flex;
    flex-direction: column;
}

.inputBox {
    width: 20rem;
    height: 10rem;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.smallBox {
    width: 20rem;
    height: 2rem;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0 auto;
}

label {
    display: block;
    text-align: center;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

input::placeholder {
    text-align: center;
    font-size: 1rem;
}

.white-button {
    align-self: center;
    background: black;
    color: white;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid black;
    margin: 1rem;
}